* {
    padding: 0;
    margin: 0;
}



img{
    display: inline;
    justify-content: center;
}

#login{
    background-color: chocolate;
    color: white;
    border: none;
    border-radius: 3px;
    margin-right: 5px;
    padding: 1px 4px;
}

#register{
    background-color: transparent;
    color: white;
    border: 1px solid chocolate;
    border-radius: 3px;
    margin-right: 5px;
    padding: 0px 3px;
}

#register:hover{
    background-color: chocolate;
}

.row{
    justify-content: center;
}

#backgroundImage{
    opacity: 0.5;
}

ul li a:hover{
    background-color: rgb(149, 149, 25);
    border-radius: 8px;
    
}
.header {
    height: 500px;
    width: 100vw;
    background-image: url(images/bat\ &ball.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header h1 {
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-align: left;
    padding: 10px 0px 0px 0px;
}


footer.footer-clr{
    background-color: #0d6efd;
    height: auto;
    color: white;
    
}

#align-footer {
    margin-top: 90px;
    justify-content: center;
}

.con{
    position: relative;
    top: 90px;
}

.img-align {
    margin-bottom: 10px;
}

ul li {
    list-style-type: none;
    
}

.inline{
    text-align: center;
    line-height: 30px;
    column-gap: 10px;
    cursor: pointer;
    margin-bottom: 40px;
    margin-top: 0px;
}

#horizontallyalign li{
    display: inline-grid;
}

ol li{
    list-style-type: none;
    display: inline-flex;
    background-color: bisque;
    border-radius: 4px;
    
}

.center{
    text-align: center;
 
}

.image-container {
    position: relative;
    width: 100%;

}

#img {

    height: 400px;
    width: 100vw;
    filter: blur(3px);
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
    color: rgb(252, 252, 252);
}

p{
    margin-top: 20px;
    text-align: center;
}
